<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление новой записи</title>
    {% comment %} {% load static %} {% endcomment %}
    {% load cache_busting %}
    <link rel="stylesheet" href="{% bust_static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% bust_static 'style.css' %}">
    <link rel="icon" href="{% bust_static 'favicon.ico' %}" type="image/x-icon">
</head>

<body>
    <div class="center-content">
        <div class="container-fluid-neverov">
            <h1 class="mt-5">Добавление новой записи</h1>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-{{ message.tags }}{% endif %} mt-3">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <!-- Форма для добавления новой услуги -->
            <form method="POST" action="{% url 'add_record_two' %}?page={{ total_pages }}" class="form-group">
                <!-- Пример изменения отступов в форме с помощью классов -->
                <div class="form-item">
                    <label for="name">Наименование закупки</label>
                    <input type="text" class="form-control" id="name" name="name" maxlength="255" required title="Максимальное количество значений 255" value="{{ name }}">
                </div>
                <div class="form-item">
                    <label for="KOSGU">КОСГУ</label>
                    <select class="form-control" id="KOSGU" name="KOSGU" required title="Выберите КОСГУ" value="{{ KOSGU }}">
                        <option value="" {% if KOSGU == "" %}selected{% endif %}>Выберите КОСГУ</option>
                    </select>
                </div>
                <div class="form-item">
                    <label for="DopFC">ДопФК</label>
                    <select class="form-control" id="DopFC" name="DopFC" required title="Выберите ДопФК" value="{{ DopFC }}">
                        <option value="" {% if DopFC == "" %}selected{% endif %}>Выберите КОСГУ</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary clear-btn">Добавить запись</button>
                <a href="{% url 'data_table_view' %}?page={{ page }}{{ params }}" class="btn btn-secondary btn-neverov clear-btn">Вернуться назад</a>
            </form>
        </div>
    </div>

    <script src="{% bust_static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% bust_static 'js/bootstrap.bundle.min.js' %}"></script>
    <script>
        // Сначала парсим весь объект statuses
        const statuses = {{ statuses|default:"{}"|safe }};
    </script>
    <script src="{% bust_static 'script_add_edit.js' %}"></script>  <!-- Добавьте ваш JS файл -->
    
</body>

</html>
