{% extends 'index.html' %}

{% block content %}
    <div class="container-fluid-neverov">
        <form method="GET" action="/" id="filter-form" class="form-group">
            <div class="form-item">
                <label for="keyword_one">Поиск по ключевому слову 1:</label>
                <input type="text" class="form-control" id="keyword_one" name="keyword_one" placeholder="Ключевое слово"
                    value="{{ request.GET.keyword_one|default:'' }}">
            </div>
            <div class="form-item">
                <label for="selected_column_one">Выберите столбец 1:</label>
                <select name="selected_column_one" id="selected_column_one" class="form-control">
                    <option value="">Столбец</option>
                    <option value="id_id" {% if selected_column_one == 'id_id' %}selected{% endif %}>№ п/п</option>
                    <option value="name" {% if selected_column_one == 'name' %}selected{% endif %}>ФИО заявителя</option>
                    <option value="snils" {% if selected_column_one == 'snils' %}selected{% endif %}>СНИЛС</option>
                    <option value="location" {% if selected_column_one == 'location' %}selected{% endif %}>Район</option>
                    <option value="address_p" {% if selected_column_one == 'address_p' %}selected{% endif %}>Населённый пункт</option>
                    <option value="address" {% if selected_column_one == 'address' %}selected{% endif %}>Адрес</option>
                    <option value="benefit" {% if selected_column_one == 'benefit' %}selected{% endif %}>Льгота</option>
                    <option value="number" {% if selected_column_one == 'number' %}selected{% endif %}>Серия и номер</option>
                    <option value="year" {% if selected_column_one == 'year' %}selected{% endif %}>Дата выдачи сертификата</option>
                    <option value="cost" {% if selected_column_one == 'cost' %}selected{% endif %}>Размер выплаты</option>
                    <option value="certificate" {% if selected_column_one == 'certificate' %}selected{% endif %}>Сертификат</option>
                    <option value="date_number_get" {% if selected_column_one == 'date_number_get' %}selected{% endif %}>Дата и номер решения о выдаче</option>
                    <option value="date_number_cancellation" {% if selected_column_one == 'date_number_cancellation'%}selected{% endif %}>Дата и № решения об аннулировании</option>
                    <option value="date_number_no_one" {% if selected_column_one == 'date_number_no' %}selected{% endif %}>Дата решения об отказе в выдаче</option>
                    <option value="date_number_no_two" {% if selected_column_one == 'date_number_no' %}selected{% endif %}>№ решения об отказе в выдаче</option>
                    <option value="certificate_no" {% if selected_column_one == 'certificate_no' %}selected{% endif %}>Отказ в выдаче</option>
                    <option value="reason" {% if selected_column_one == 'reason' %}selected{% endif %}>Основная причина отказа</option>
                    <option value="track" {% if selected_column_one == 'track' %}selected{% endif %}>ТРЕК</option>
                    <option value="date_post" {% if selected_column_one == 'date_post' %}selected{% endif %}>Дата отправки почтой</option>
                    <option value="comment" {% if selected_column_one == 'comment' %}selected{% endif %}>Комментарий</option>
                </select>
            </div>
            <div class="form-item">
                <label for="keyword_two">Поиск по ключевому слову 2:</label>
                <input type="text" class="form-control" id="keyword_two" name="keyword_two" placeholder="Ключевое слово"
                    value="{{ request.GET.keyword_two|default:'' }}">
            </div>
            <div class="form-item">
                <label for="selected_column_two">Выберите столбец 2:</label>
                <select name="selected_column_two" id="selected_column_two" class="form-control">
                    <option value="">Столбец</option>
                    <option value="id_id" {% if selected_column_two == 'id_id' %}selected{% endif %}>№ п/п</option>
                    <option value="name" {% if selected_column_two == 'name' %}selected{% endif %}>ФИО заявителя</option>
                    <option value="snils" {% if selected_column_two == 'snils' %}selected{% endif %}>СНИЛС</option>
                    <option value="location" {% if selected_column_two == 'location' %}selected{% endif %}>Район</option>
                    <option value="address_p" {% if selected_column_two == 'address_p' %}selected{% endif %}>Населённый пункт</option>
                    <option value="address" {% if selected_column_two == 'address' %}selected{% endif %}>Адрес</option>
                    <option value="benefit" {% if selected_column_two == 'benefit' %}selected{% endif %}>Льгота</option>
                    <option value="number" {% if selected_column_two == 'number' %}selected{% endif %}>Серия и номер</option>
                    <option value="year" {% if selected_column_two == 'year' %}selected{% endif %}>Дата выдачи сертификата</option>
                    <option value="cost" {% if selected_column_two == 'cost' %}selected{% endif %}>Размер выплаты</option>
                    <option value="certificate" {% if selected_column_two == 'certificate' %}selected{% endif %}>Сертификат</option>
                    <option value="date_number_get" {% if selected_column_two == 'date_number_get' %}selected{% endif %}>Дата и номер решения о выдаче</option>
                    <option value="date_number_cancellation" {% if selected_column_two == 'date_number_cancellation' %}selected{% endif %}>Дата и № решения об аннулировании</option>
                    <option value="date_number_no_one" {% if selected_column_two == 'date_number_no' %}selected{% endif %}>Дата решения об отказе в выдаче</option>
                    <option value="date_number_no_two" {% if selected_column_two == 'date_number_no' %}selected{% endif %}>№ решения об отказе в выдаче</option>
                    <option value="certificate_no" {% if selected_column_two == 'certificate_no' %}selected{% endif %}>Отказ в выдаче</option>
                    <option value="reason" {% if selected_column_two == 'reason' %}selected{% endif %}>Основная причинаотказа</option>
                    <option value="track" {% if selected_column_two == 'track' %}selected{% endif %}>ТРЕК</option>
                    <option value="date_post" {% if selected_column_two == 'date_post' %}selected{% endif %}>Дата отправки почтой</option>
                    <option value="comment" {% if selected_column_two == 'comment' %}selected{% endif %}>Комментарий</option>
                </select>
            </div>
            <div class="form-item">
                <label for="year">Дата сертификата:</label>
                <select name="year" id="year" class="form-control form-control-year">
                    <option value="No">Год</option>
                    {% for year in service_years %}
                    <option value="{{ year }}" {% if year == selected_year %}selected{% endif %}>
                        {{ year }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-item">
                <label for="date_number_no_one">Дата отказа:</label>
                <select name="date_number_no_one" id="date_number_no_one" class="form-control form-control-year">
                    <option value="No">Год</option>
                    {% for date_number_no_one in service_date_number_no_one %}
                    <option value="{{ date_number_no_one }}" {% if date_number_no_one == selected_date_number_no_one %}selected{% endif %}>
                        {{ date_number_no_one }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-item-neverov">
                <button type="submit" class="btn btn-primary">Фильтровать</button>
                <button type="button" class="btn btn-secondary" id="reset-filters">Сбросить всё</button>
            </div>
        </form>
    </div>
    <div class="container-fluid-neverov">
        <div class="scroll-container">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="fixed-width">№ п/п</th>
                        <th class="stretch-width">ФИО заявителя</th>
                        <th class="stretch-width">СНИЛС</th>
                        <th class="fixed-width">Район</th>
                        <th class="stretch-width">Населённый пункт</th>
                        <th class="fixed-width">Адрес</th>
                        <th class="fixed-width">Льгота</th>
                        <th class="fixed-width-medium">Серия и номер</th>
                        <th class="fixed-width-date">Дата выдачи сертификата</th>
                        <th class="stretch-width">Размер выплаты</th>
                        <th class="fixed-width-small">Сертификат</th>
                        <th class="fixed-width-date">Дата и номер решения о выдаче</th>
                        <th class="fixed-width-date">Дата и № решения об аннулировании</th>
                        <th class="fixed-width-date">Дата решения об отказе в выдаче</th>
                        <th class="fixed-width-small">№ решения об отказе в выдаче</th>
                        <th class="fixed-width-small">Отказ в выдаче</th>
                        <th class="fixed-width-small">Основная причина отказа</th>
                        <th class="stretch-width">ТРЕК</th>
                        <th class="fixed-width">Дата отправки почтой</th>
                        <th class="fixed-width">Комментарий</th>
                        <th class="fixed-width">Управление</th>
                        <th class="fixed-width">Выбор цвета</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr class="service-row" data-id="{% if user.is_authenticated %}{{ item.id }}{% else %}0{% endif %}">
                        <td class="stretch-width" style="background-color: {{ item.color|default:'' }}">{{ item.id_id }}</td>
                        <td class="stretch-width" style="background-color: {{ item.color|default:'' }}">{{ item.name }}</td>
                        <td class="fixed-width" style="background-color: {{ item.color|default:'' }}">{{ item.snils }}</td>
                        <td class="stretch-width" style="background-color: {{ item.color|default:'' }}">{{ item.location }}</td>
                        <td class="fixed-width" style="background-color: {{ item.color|default:'' }}">{{ item.address_p }}</td>
                        <td class="fixed-width" style="background-color: {{ item.color|default:'' }}">{{ item.address }}</td>
                        <td class="fixed-width-medium" style="background-color: {{ item.color|default:'' }}">{{ item.benefit }}</td>
                        <td class="fixed-width-date" style="background-color: {{ item.color|default:'' }}">{{ item.number }}</td>
                        <td class="stretch-width" style="background-color: {{ item.color|default:'' }}">{{ item.year }}</td>
                        <td class="fixed-width-small" style="background-color: {{ item.color|default:'' }}">{{ item.cost }}</td>
                        <td class="fixed-width-date" style="background-color: {{ item.color|default:'' }}">{{ item.certificate }}</td>
                        <td class="fixed-width-date" style="background-color: {{ item.color|default:'' }}">{{ item.date_number_get }}</td>
                        <td class="fixed-width-date" style="background-color: {{ item.color|default:'' }}">{{ item.date_number_cancellation }}</td>
                        <td class="stretch-width" style="background-color: {{ item.color|default:'' }}">{{ item.date_number_no_one }}</td>
                        <td class="fixed-width-small" style="background-color: {{ item.color|default:'' }}">{{ item.date_number_no_two }}</td>
                        <td class="fixed-width-small" style="background-color: {{ item.color|default:'' }}">{{ item.certificate_no }}</td>
                        <td class="stretch-width" style="background-color: {{ item.color|default:'' }}">{{ item.reason }}</td>
                        <td class="fixed-width" style="background-color: {{ item.color|default:'' }}">{{ item.track }}</td>
                        <td class="fixed-width" style="background-color: {{ item.color|default:'' }}">{{ item.date_post }}</td>
                        <td class="stretch-width" style="background-color: {{ item.color|default:'' }}">{{ item.comment }}</td>
                        <td class="stretch-width">
                            <!-- Управление -->
                            <div style="display: flex; justify-content: center; align-items: center; gap: 5px;">
                                <a href="{% url 'edit' row_id=item.id %}?page={{ page }}&keyword_one={{ keyword_one }}&keyword_two={{ keyword_two }}&selected_column_one={{ selected_column_one }}&selected_column_two={{ selected_column_two }}&year={{ selected_year }}&selected_date_number_no_one={{ selected_date_number_no_one }}"
                                class="btn btn-sm btn-warning">Edit</a>
                                <form class="delete-form" data-id="{{ item.id }}" style="display:inline;">

                                    <button type="button" class="btn btn-sm btn-danger delete-button">Delete</button>
                                </form>
                            </div>
                        </td>
                        <td class="stretch-width">
                            <!-- Выбор цвета -->
                            <p>User ID: {{ user.id }}</p>
                            <p>Authenticated: {{ user.is_authenticated }}</p>
                            <select class="form-control color-select" data-id="{% if user.is_authenticated %}{{ item.id }}{% else %}0{% endif %}">
                                <option value="#ffffff">Default</option>
                                <option value="#eaf7ff" {% if item.color == '#eaf7ff' %}selected{% endif %}>Light Blue</option>
                                <option value="#ffebeb" {% if item.color == '#ffebeb' %}selected{% endif %}>Light Red</option>
                                <option value="#dff0d8" {% if item.color == '#dff0d8' %}selected{% endif %}>Light Green</option>
                                <option value="#f5f5f5" {% if item.color == '#f5f5f5' %}selected{% endif %}>Light Grey</option>
                                <option value="#fff8e1" {% if item.color == '#fff8e1' %}selected{% endif %}>Light Yellow</option>
                            </select>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="container-fluid-neverov">
        <div style="display: flex; justify-content: flex-end;">
            <!-- Pagination Controls -->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if page > 1 %}
                    <li class="page-item">
                        <a class="page-link"
                            href="{% url 'data_table_view' %}?year={{ selected_year }}&keyword_one={{ keyword_one }}&keyword_two={{ keyword_two }}&selected_column_one={{ selected_column_one }}&selected_column_two={{ selected_column_two }}&date_number_no_one={{ selected_date_number_no_one }}&page={{ page|add:"-1" }}"
                            aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% endif %}

                    <!-- Show "Previous" button if not on the first page group -->
                    {% if start_page > 1 %}
                    <li class="page-item">
                        <a class="page-link"
                            href="{% url 'data_table_view' %}?year={{ selected_year }}&keyword_one={{ keyword_one }}&keyword_two={{ keyword_two }}&selected_column_one={{ selected_column_one }}&selected_column_two={{ selected_column_two }}&date_number_no_one={{ selected_date_number_no_one }}&page=1">1</a>
                    </li>
                        {% if start_page > 2 %}
                        <li class="page-item disabled"><span class="page-link">...</span></li>
                        {% endif %}
                    {% endif %}

                    <!-- Show a few pages around the current page -->
                    {% for p in pages %}
                    <li class="page-item {% if p == page %}active{% endif %}">
                        <a class="page-link"
                            href="{% url 'data_table_view' %}?year={{ selected_year }}&keyword_one={{ keyword_one }}&keyword_two={{ keyword_two }}&selected_column_one={{ selected_column_one }}&selected_column_two={{ selected_column_two }}&date_number_no_one={{ selected_date_number_no_one }}&page={{ p }}">{{ p }}</a>
                    </li>
                    {% endfor %}

                    <!-- Show "Next" button if not on the last page group -->
                    {% if end_page < total_pages %}
                        {% load custom_tags %}
                        {% if end_page < total_pages|subtract:1 %}
                        <li class="page-item disabled"><span class="page-link">...</span></li>
                        {% endif %}
                    <li class="page-item">
                        <a class="page-link"
                            href="{% url 'data_table_view' %}?page={{ page }}&keyword_one={{ keyword_one }}&keyword_two={{ keyword_two }}&selected_column_one={{ selected_column_one }}&selected_column_two={{ selected_column_two }}&date_number_no_one={{ selected_date_number_no_one }}&page={{ total_pages }}">{{ total_pages }}</a>
                    </li>
                    {% endif %}

                    {% if page < total_pages %}
                    <li class="page-item">
                        <a class="page-link"
                            href="{% url 'data_table_view' %}?year={{ selected_year }}&keyword_one={{ keyword_one }}&keyword_two={{ keyword_two }}&selected_column_one={{ selected_column_one }}&selected_column_two={{ selected_column_two }}&date_number_no_one={{ selected_date_number_no_one }}&page={{ page|add:"1" }}"
                            aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>

    <div class="container-fluid-neverov">
        <h4>Итог выплат за выбранное время: {{ total_cost_1 }}</h4>
        <h4>Итог сертификатов за выбранное время: {{ total_cost_2 }}</h4>
        <h4>Итог отказов в выдаче за выбранное время: {{ total_cost_3 }}</h4>
        <br>
        
        <a href="{% url 'add' %}?page={{ page }}&keyword_one={{ keyword_one }}&keyword_two={{ keyword_two }}&selected_column_one={{ selected_column_one }}&selected_column_two={{ selected_column_two }}&selected_year={{ selected_year }}&selected_date_number_no_one={{ selected_date_number_no_one }}&total_pages={{ total_pages }}" class="btn btn-warning">Добавить данные</a>
                    
        <br>
        <h1>Экспорт услуг в Excel</h1>
        <br>

        <form id="export-form" onsubmit="showFlashMessage(event)">
            <input type="hidden" name="year" value="{% if selected_year %}{{ selected_year }}{% else %}No{% endif %}">
            <input type="hidden" name="date_number_no_one" value="{% if selected_date_number_no_one %}{{ selected_date_number_no_one }}{% else %}No{% endif %}">
            <div class="alert alert-success" id="flash-message" style="display: none;"></div>
            <button type="submit" class="btn btn-info" id="export-button">Экспорт в Excel</button>
        </form>
    </div>
{% endblock %}
