<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактирование записи</title>
    {% comment %} {% load static %} {% endcomment %}
    {% load cache_busting %}
    <link rel="stylesheet" href="{% bust_static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% bust_static 'style.css' %}">
    <link rel="icon" href="{% bust_static 'favicon.ico' %}" type="image/x-icon">
</head>

<body>
    <!-- Контейнер для основного контента страницы -->
    <div class="container-fluid-neverov">
        <!-- Заголовок страницы -->
        <h1 class="mt-5">Редактирование записи</h1>

        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-{{ message.tags }}{% endif %} mt-3">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <!-- Форма для редактирования услуги -->
        {% comment %} <form method="POST" action="{% url 'update_record_user' row_id=row_id %}?page_user={{ page_user }}" class="form-group"> {% endcomment %}
        {% comment %} <form method="POST" action="{% url 'update_record_user' row_id=row_id %}?page={{ page }}&keyword_one={{ keyword_one }}&keyword_two={{ keyword_two }}&keyword_three={{ keyword_three }}&keyword_four={{ keyword_four }}&selected_column_one={{ selected_column_one }}&selected_column_two={{ selected_column_two }}&contract_date={{ selected_contract_date }}&end_date={{ selected_end_date }}" class="form-group"> {% endcomment %}
            <form method="POST" action="{% url 'update_record_user' row_id=row_id %}?page={{ page }}{{ params }}" class="form-group">
            <!-- Поле для ввода названия услуги -->
            <div class="form-item">
                <label for="budget_limit">Бюджет (Лимиты)</label>
                <input type="text" class="num-field form-control form-control-neverov" id="budget_limit" name="budget_limit" value="{% if service.budget_limit %}{{ service.budget_limit }}{% else %}{{ budget_limit }}{% endif %}">
            </div>
            <div class="form-item">
                <label for="off_budget_limit">Внебюджет (Лимиты)</label>
                <input type="text" class="num-field form-control form-control-neverov" id="off_budget_limit" name="off_budget_limit" value="{% if service.off_budget_limit %}{{ service.off_budget_limit }}{% else %}{{ off_budget_limit }}{% endif %}">
            </div>

            <input type="hidden" name="id_id" value="{{ service.id_id }}">  <!-- Скрытое поле цвета -->
            <input type="hidden" name="name" value="{{ service.name }}">  <!-- Скрытое поле цвета -->
            <input type="hidden" name="KOSGU" value="{{ service.KOSGU }}">  <!-- Скрытое поле цвета -->
            <input type="hidden" name="DopFC" value="{{ service.DopFC }}">  <!-- Скрытое поле цвета -->
            <input type="hidden" name="budget_planned" value="{{ service.budget_planned }}">  <!-- Скрытое поле цвета -->
            <input type="hidden" name="off_budget_planned" value="{{ service.off_budget_planned }}">  <!-- Скрытое поле цвета -->
            <input type="hidden" name="budget_bargaining" value="{{ service.budget_bargaining }}">  <!-- Скрытое поле цвета -->
            <input type="hidden" name="off_budget_bargaining" value="{{ service.off_budget_bargaining }}">  <!-- Скрытое поле цвета -->
            <input type="hidden" name="budget_concluded" value="{{ service.budget_concluded }}">  <!-- Скрытое поле цвета -->
            <input type="hidden" name="off_budget_concluded" value="{{ service.off_budget_concluded }}">  <!-- Скрытое поле цвета -->
            <input type="hidden" name="budget_completed" value="{{ service.budget_completed }}">  <!-- Скрытое поле цвета -->
            <input type="hidden" name="off_budget_completed" value="{{ service.off_budget_completed }}">  <!-- Скрытое поле цвета -->
            <input type="hidden" name="budget_execution" value="{{ service.budget_execution }}">  <!-- Скрытое поле цвета -->
            <input type="hidden" name="off_budget_execution" value="{{ service.off_budget_execution }}">  <!-- Скрытое поле цвета -->
            <input type="hidden" name="budget_remainder" value="{{ service.budget_remainder }}">  <!-- Скрытое поле цвета -->
            <input type="hidden" name="off_budget_remainder" value="{{ service.off_budget_remainder }}">  <!-- Скрытое поле цвета -->
            <input type="hidden" name="budget_plans" value="{{ service.budget_plans }}">  <!-- Скрытое поле цвета -->
            <input type="hidden" name="off_budget_plans" value="{{ service.off_budget_plans }}">  <!-- Скрытое поле цвета -->
            <input type="hidden" name="color" value="{{ service.color }}">  <!-- Скрытое поле цвета -->

            <!-- Скрытое поле для передачи scroll_position -->
            <input type="hidden" name="scroll_position" id="scroll_position_input">

            <!-- Кнопка для отправки формы -->
            <button type="submit" class="btn btn-primary btn-neverov">Внести изменения</button>
            <!-- Ссылка для возврата на главную страницу -->
            {% comment %} <a href="{% url 'data_table_view' %}?page_user={{ page_user }}" class="btn btn-secondary btn-neverov clear-btn">Вернуться назад</a> {% endcomment %}
            {% comment %} <a href="{% url 'data_table_view' %}?page={{ page }}&keyword_one={{ keyword_one }}&keyword_two={{ keyword_two }}&keyword_three={{ keyword_three }}&keyword_four={{ keyword_four }}&selected_column_one={{ selected_column_one }}&selected_column_two={{ selected_column_two }}&contract_date={{ selected_contract_date }}&end_date={{ selected_end_date }}" class="btn btn-secondary btn-neverov clear-btn">Вернуться назад</a> {% endcomment %}
            <a href="{% url 'data_table_view' %}?page={{ page }}{{ params }}" class="btn btn-secondary btn-neverov clear-btn" id="backLink">Вернуться назад</a>
        </form>

    </div>

    <script src="{% bust_static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% bust_static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% bust_static 'script_add_edit.js' %}"></script>  <!-- Добавьте ваш JS файл -->

</body>

</html>
