<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактирование записи</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <!-- Контейнер для основного контента страницы -->
    <div class="container-fluid-neverov">
        <!-- Заголовок страницы -->
        <h1 class="mt-5">Редактирование записи</h1>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} mt-3">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <!-- Форма для редактирования услуги -->
        <form method="POST" action="{% url 'update_record' row_id=row_id %}?page={{ page }}&keyword_one={{ keyword_one }}&keyword_two={{ keyword_two }}&selected_column_one={{ selected_column_one }}&selected_column_two={{ selected_column_two }}&year={{ selected_year }}&selected_date_number_no_one={{ selected_date_number_no_one }}" class="form-group">
            <!-- Поле для ввода названия услуги -->
            <div class="form-item">
                <label for="name">Наименование закупки</label>
                <input type="text" class="form-control form-control-neverov" id="name" name="name" value="{{ service.name }}"
                    maxlength="40" required title="Максимальное количество значений 40">
            </div>
            <div class="form-item">
                <label for="status">Статус</label>
                <input type="text" class="form-control form-control-neverov" id="status" name="status" value="{{ service.status }}" maxlength="40"
                    required title="Максимальное количество значений 40">
            </div>
            <div class="form-item">
                <label for="way">Способ закупки</label>
                <input type="text" class="form-control form-control-neverov" id="way" name="way" value="{{ service.way }}"
                    maxlength="40" required title="Максимальное количество значений 40">
            </div>
            <div class="form-item">
                <label for="initiator">Инициатор закупки (ИТ/АХО)</label>
                <input type="text" class="form-control form-control-neverov" id="initiator" name="initiator" value="{{ service.initiator }}"
                    maxlength="40" required title="Максимальное количество значений 40">
            </div>
            <div class="form-item">
                <label for="KTSSR">КЦСР</label>
                <input type="text" class="form-control form-control-neverov" id="KTSSR" name="KTSSR" value="{{ service.KTSSR }}"
                    step="0.01" min="0" max="99999999.99" required title="Максимальное значение 99999999.99">
            </div>
            <div class="form-item">
                <label for="KOSGU">КОСГУ</label>
                <input type="text" class="form-control form-control-neverov" id="KOSGU" name="KOSGU" value="{{ service.address }}"
                    pattern="\d{1,3}" maxlength="3" required title="Максимальное значение 999">
            </div>
            <div class="form-item">
                <label for="DopFC">ДопФК</label>
                <input type="text" class="form-control form-control-neverov" id="DopFC" name="DopFC" value="{{ service.benefit }}"
                    step="0.01" min="0" max="99999999.99" required title="Максимальное значение 99999999.99">
            </div>
            <div class="form-item">
                <label for="number">Номер</label>
                <input type="text" class="form-control form-control-neverov" id="number" name="number" value="{{ service.number }}"
                    maxlength="30" required title="Максимальное количество значений 30">
            </div>
            <div class="form-item">
                <label for="year">Дата выдачи сертификата</label>
                <input type="text" class="form-control form-control-neverov" id="year" name="year" value="{{ service.year }}"
                    required title="Введите дату в формате ДД.ММ.ГГГГ" placeholder="ДД.ММ.ГГГГ" oninput="formatDate(this)">
            </div>
            <div class="form-item">
                <label for="cost">Размер выплаты</label>
                <input type="number" step="0.01" class="form-control form-control-neverov" id="cost" name="cost" value="{{ service.cost }}"
                    min="0" max="99999999.99" required title="Максимальное значение 99999999.99">
            </div>
            <div class="form-item">
                <label for="certificate">Сертификат</label>
                <input type="text" class="form-control form-control-neverov" id="certificate" name="certificate"
                    value="{{ service.certificate }}" pattern="\d{1,2}" maxlength="2"
                    required title="Максимальное значение 99">
            </div>
            <div class="form-item">
                <label for="date_number_get">Дата и номер решения о выдаче</label>
                <input type="text" class="form-control form-control-neverov" id="date_number_get" name="date_number_get"
                    value="{{ service.date_number_get }}" maxlength="30"
                    required title="Максимальное количество значений 30">
            </div>
            <div class="form-item">
                <label for="date_number_cancellation">Дата и № решения об аннулировании</label>
                <input type="text" class="form-control form-control-neverov" id="date_number_cancellation" name="date_number_cancellation"
                    value="{{ service.date_number_cancellation }}" maxlength="30"
                    required title="Максимальное количество значений 30">
            </div>
            <div class="form-item">
                <label for="date_number_no_one">Дата решения об отказе в выдаче</label>
                <input type="text" class="form-control form-control-neverov" id="date_number_no_one" name="date_number_no_one" value="{{ service.date_number_no_one }}"
                    required title="Введите дату в формате ДД.ММ.ГГГГ" placeholder="ДД.ММ.ГГГГ" oninput="formatDate(this)">
            </div>
            <div class="form-item">
                <label for="date_number_no_two">№ решения об отказе в выдаче</label>
                <input type="text" class="form-control form-control-neverov" id="date_number_no_two" name="date_number_no_two"
                    value="{{ service.date_number_no_two }}" maxlength="30"
                    required title="Максимальное количество значений 30">
            </div>
            <div class="form-item">
                <label for="certificate_no">Отказ в выдаче</label>
                <input type="text" class="form-control form-control-neverov" id="certificate_no" name="certificate_no"
                    required value="{{ service.certificate_no }}" pattern="\d{1,2}" maxlength="2" title="Максимальное значение 99">
            </div>
            <div class="form-item">
                <label for="reason">Причина отказа</label>
                <input type="text" class="form-control form-control-neverov" id="reason" name="reason" value="{{ service.reason }}" maxlength="30"
                required title="Максимальное количество значений 30">
            </div>
            <div class="form-item">
                <label for="track">ТРЕК</label>
                <input type="text" class="form-control form-control-neverov" id="track" name="track" value="{{ service.track }}"
                maxlength="30" required title="Максимальное количество значений 30">
            </div>
            <div class="form-item">
                <label for="date_post">Дата отправки почтой</label>
                <input type="text" class="form-control form-control-neverov" id="date_post" name="date_post" value="{{ service.date_post }}"
                    required title="Введите дату в формате ДД.ММ.ГГГГ" placeholder="ДД.ММ.ГГГГ" oninput="formatDate(this)">
            </div>
            <div class="form-item">
                <label for="comment">Комментарий</label>
                <input type="text" class="form-control form-control-neverov" id="comment" name="comment" value="{{ service.comment }}"
                    maxlength="30" required title="Максимальное количество значений 30">
            </div>

            <input type="hidden" name="color" value="{{ service.color }}">  <!-- Скрытое поле цвета -->
            <!-- Кнопка для отправки формы -->
            <button type="submit" class="btn btn-primary btn-neverov">Внести изменения</button>
            <!-- Ссылка для возврата на главную страницу -->
            <a href="{% url 'data_table_view' %}?page={{ page }}&keyword_one={{ keyword_one }}&keyword_two={{ keyword_two }}&selected_column_one={{ selected_column_one }}&selected_column_two={{ selected_column_two }}&year={{ selected_year }}&date_number_no_one={{ selected_date_number_no_one }}" class="btn btn-secondary btn-neverov mt-3">Вернуться назад</a>
        </form>

    </div>

    <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <script>
        function formatDate(input) {
            let value = input.value.replace(/\D/g, '');  // Убираем все нецифровые символы
            if (value.length >= 5) {
                input.value = value.substring(0, 2) + '.' + value.substring(2, 4) + (value.length > 4 ? '.' + value.substring(4, 8) : '');
            } else if (value.length >= 3) {
                input.value = value.substring(0, 2) + '.' + value.substring(2, 4);
            } else {
                input.value = value;
            }
        }
    </script>

</body>

</html>
